{{#if user}}
    <div id="logout"><a href="/users/logout">Logout</a></div>
{{/if}}

<h4>Sign up for an account</h4>
<form action="/users" method="POST">
    <input type="text" name="username" class="input" placeholder="username">
    <input type="password" class="input" name="password" placeholder="password">
    <input type="submit" class="button">
</form>

<h4>Log in here</h4>
<form action="/users/login" method="POST">
    <input type="text" class="input" name="username" placeholder="username">
    <input type="password" class="input" name="password" placeholder="password">
    <input type="submit" class="button">
</form>

<div id="registered">Registered Users</div>
{{#each users}}
    <div class="users"><a href="/users/{{_id}}">{{username}}</a></div><br>
        <table style="width:100%">
            <tr>
                <td class="movieHead">Title</td>
                <td class="movieHead">Stars</td>
                <td class="movieHead">Genre</td>
                <td class="movieHead">Year</td>
                <td class="movieHead">Duration</td>
                <td class="movieHead">Rated</td>
             </tr>

             {{#each movies}}
             <tr>
                <td class="movieInfo">{{this.title}}</td>
                <td class="movieInfo">{{this.stars}}</td>
                <td class="movieInfo">{{this.genre}}</td>
                <td class="movieInfo">{{this.year}}</td>
                <td class="movieInfo">{{this.duration}} minutes</td>
                <td class="movieInfo">{{this.rated}}</td>
            </tr>
            {{/each}}
        </table><br>

{{/each}}

