<a href="/users/logout"><p>Logout</p></a>
<h4>Log in</h4>

<form action="/users/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>

<h4>Sign up</h4>

<form action="/users" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>

<!--<a id="newUser" href="/users/new">New User</a>-->
{{#each users}}
    <div class="users"><a href="/users/{{_id}}">{{username}}</a></div>

    {{#each movies}}
        <table style="width:100%">
            <tr>
                <td>Title</td>
                <td>Stars</td>
                <td>Genre</td>
                <td>Year</td>
                <td>Duration</td>
                <td>Rated</td>
             </tr>
             <tr>
                <td>{{this.title}}</td>
                <td>{{this.stars}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.year}}</td>
                <td>{{this.duration}} minutes</td>
                <td>{{this.rated}}</td>
            </tr>
        </table>


    {{/each}}

{{/each}}

