<div id="user-edit">
    <a href="/users/{{user._id}}/edit">Edit My Account</a>
    <a href="/users">See All Collections</a>
</div>
<div id="welcome">Welcome {{user.username}}</div>

{{usertrue}}
<div>
{{#each user.movies}}
  <div class="each-movie">
    <table style="width:100%">
            <tr>
                <td>Title</td>
                <td>Stars</td>
                <td>Genre</td>
                <td>Year</td>
                <td>Duration</td>
                <td>Rated</td>
             </tr>
             <tr>
                <td>{{this.title}}</td>
                <td>{{this.stars}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.year}}</td>
                <td>{{this.duration}} minutes</td>
                <td>{{this.rated}}</td>
            </tr>
        </table>
    <form method="post" action="/users/{{../user._id}}/movies/{{_id}}?_method=delete">
        <input type="submit" value="Delete Movie">
    </form>
  </div>
{{/each}}
</div>

<div id="new-movie">
  <h3>Add New Movie</h3>
    <form action="/users/{{user._id}}/movies" method="post">
        <label>Title: </label>
        <input type="text" name="title"><br>
        <label>Stars: </label>
        <input type="text" name="stars"><br>
        <label>Genre: </label>
        <input type="text" name="genre"><br>
        <label>Year: </label>
        <input type="text" name="year"><br>
        <label>Duration: </label>
        <input type="text" name="duration"><br>
        <label>Rated: </label>
        <input type="text" name="rated"><br>
        <input type="submit">
    </form>
</div>

