<div id="user-edit">
    <a href="/users/{{user._id}}/edit">Edit My Account</a>
    <a href="/users">Go To Home Page</a>
    <p>Welcome {{user.username}} </p>
</div>

{{usertrue}}
<div>
{{#each user.movies}}
  <div class="each-movie">
    <p>Title: {{this.title}}</p>
    <p>Stars: {{this.stars}}</p>
    <p>Genre: {{this.genre}}</p>
    <p>Year: {{this.year}}</p>
    <p>Duration: {{this.duration}} minutes</p>
    <p>Rated: {{this.rated}}</p>
    <form method="post" action="/users/{{../user._id}}/movies/{{_id}}?_method=delete">
        <input type="submit" value="Delete Movie">
    </form>
  </div>
{{/each}}
</div>

<div id="new-movie">
  <h3>New Movie</h3>
    <form action="/users/{{user._id}}/movies" method="post">
        <label>Title: </label>
        <input type="text" name="title"><br>
        <label>Stars: </label>
        <input type="text" name="stars"><br>
        <label>Genre: </label>
        <input type="text" name="genre"><br>
        <label>Year: </label>
        <input type="text" name="year"><br>
        <label>Duration: </label>
        <input type="text" name="duration"><br>
        <label>Rated: </label>
        <input type="text" name="rated"><br>
        <input type="submit">
    </form>
</div>

